<h1><%= @meetup.name %></h1>

<p><%= @meetup.location%></p>

<p><%= @meetup.description%></p>

<form action="/meetups/<%= @meetup.id %>/memberships" method="post">
  <input type="submit" value="Join this meetup">
</form>

<br>

<p><a href="/meetups">View all the meetups</a></p>
